@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.skew-style-container {
    transform: skewX(-30deg);
    transform-origin: top right;
    width: 35%;
}

.skew-style-text {
    transform: skewX(30deg);
}